.open {
  display: block;
}

.closed {
  display: none;
}

.container {
  text-align: center;
 &__line {
      margin: auto;
      margin-top: 10px;
      height: 1px;        
      background-color: black;
      width: 1200px;
 }
}